.footer {
  color: black;
  position: fixed;
  top: 90%;
  text-align: center;
  width: 100%;
}

.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
  -epub-hyphens: none;
}

.small-code pre code {
  font-size : 1em;
}

.container {
  display :inline-block;
  text-align: center;
}